@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive');

body {
    display: flex;
    flex-direction: column;
    align-content: center;
}

p {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 24px;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
    text-align: center;
    margin-bottom: -8px;
}
#startButton {
    font-family: "Comic Sans MS";
    font-size: 20px;
    color: rgba(0,0,0,0);
    height: 128px;
    width: 128px;
    box-shadow: 0px 0px 10px #000000;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
    border: none;
    margin: 10px;
    background-image: url("images/pakalu.jpg");
}
#startButton:hover {
    box-shadow: 0px 0px 18px #ff4646;
    color: rgba(0,0,0,255);
    text-shadow: 2px 2px 8px rgb(255, 255, 255);
    transition: all 0.2s;
    background-image: url("images/pakaluRed.jpg");    
}
.class1 {
    background-image: url("images/Mark.png") !important 
}
.class1:hover {
    background-image: url("images/MarkE.jpg") !important 
}
.class2 {
    background-image: url("images/Mark.png") !important 
}
.class2:hover {
    background-image: url("images/MarkE.jpg") !important 
}

#startButton:active {
    position: relative;
    top: 3px;
    box-shadow: 0px 4px 18px #990000;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 17px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 17px;
    height: 17px;
    background: rgb(31, 31, 31);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 17px;
    height: 17px;
    background: rgb(54, 54, 54);
    cursor: pointer;
}

#opt {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
#opt:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color:#dfdfdf;
}
#opt:active {
	position:relative;
	top:1px;
}

